.outcomes-container {
  container-type: inline-size;
  container-name: outcomes-container;
}

.actions-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 0;

  @container outcomes-container (min-width: 0px) {
    grid-template-columns: 1fr;
  }

  @container outcomes-container (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @container outcomes-container (min-width: 1120px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @container outcomes-container (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.action-card-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 0;
}

.outcome-container {
  container-type: inline-size;
  container-name: outcome-container;
}

.action-details-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  padding: 0;
  align-items: start;

  @container outcome-container (min-width: 0px) {
    grid-template-columns: 1fr;

    grid-template-areas:
      "votes"
      "details";
  }

  @container outcome-container (min-width: 1000px) {
    grid-template-columns: 7.5fr 4.5fr;

    grid-template-areas: "details votes";
  }
}

.action-details {
  grid-area: details;
}

.action-votes {
  grid-area: votes;

  @container outcome-container (min-width: 1000px) {
    position: sticky;
    top: 96px;
  }
}
